<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>KeySync Pro</title>
	<!-- Compiled and minified CSS -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>

<body>
	
	<div th:replace="~{menu :: menuAdm}"></div>
	
	<div class="container">
		
		<p th:if="${mensagem}" th:text="${mensagem}"></p>
		
		<h1>Cadastrar Chave</h1>
		
		<form action="/administrador/adicionarProfessor" method="post" th:object="${professor}">
			
			<div>
				<input type="hidden" th:field="*{id}" readonly="readonly">
			</div>
			<div>
				<label>Nome</label> <input type="text" th:field="*{nome}" required>
			</div>
			<div>
				<label>Disciplina</label> <input type="text" th:field="*{disciplina}" required>
			</div>
			<div>
				<label>Usuário</label> <input type="text" th:field="*{login}" required>
			</div>
			<div>
				<label>Senha</label> <input type="text" th:field="*{senha}" required>
			</div>
			<div>
				<button class="waves-effect waves-light btn" type="submit">Salvar</button>
				<button class="waves-effect waves-light btn" type="reset">Limpar</button>
			</div>
			
		</form>
		
	</div>

</body>

</html>