<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<title>KeySync Pro</title>
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet">
</head>


<body>

	<div th:replace="~{menu :: menuAdm}"></div>

	<div class="container">
		<h1>Professores</h1>

		
		<table class="highlight">
			
			<thead>
				<tr>
					<th>Id</th>
					<th>Nome</th>
					<th>Login</th>
					<th>Senha</th>
					<th>Disciplina</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="p : ${professores}"> <!--Isso representa uma repetição "for" que vai repetir a quantidade de objetos que eu tiver na minha lista chamada de alunos--> 
					<td th:text="${p.id}">1</td> <!-- O valor dos elementos serão substituidos pelo valor que está no banco de dados -->
					<td th:text="${p.nome}">Stephany</td>
					<td th:text="${p.login}">Stephany</td>
					<td th:text="${p.senha}">123</td>
					<td th:text="${p.disciplina}">pi</td>
					
					<td>
						<a th:href="@{/administrador/selecionarProfessor/{id}(id=${p.id})}"> <i class="material-icons">edit</i></a>
						<a th:href="@{/administrador/removerProfessor/{id}(id=${p.id})}"> <i class="material-icons">delete</i></a>
					</td>
				</tr>
			</tbody>
			
		</table>

	</div>
</body>

</html>