<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
</head>

<body>
	
	<nav th:fragment="menuHome"> <!--Definindo esse bloco de códigos como fragmentos para que eu posso reutilizá-lo sem precisar reescreve-lo novamente-->
		<div class="nav-wrapper container">
			<a href="/" class="brand-logo">KeySync PRO</a>
			<ul id="nav-mobile" class="right hide-on-med-and-down">
				<li><a href="/KeySync/LoginAdm">Área Administrador</a></li>
				<li><a href="/KeySync/LoginProfessor">Área Professor</a></li>
			</ul>
		</div>
	</nav>

	<nav th:fragment="menuAdm"> <!--Definindo esse bloco de códigos como fragmentos para que eu posso reutilizá-lo sem precisar reescreve-lo novamente-->
		<div>
			<a href="/" class="brand-logo">KeySync PRO</a>
			<ul id="nav-mobile" class="right hide-on-med-and-down">
				<li><a href="/administrador/adicionarLaboratorio">Adicionar Laboratório</a></li>
				<li><a href="/administrador/adicionarChave">Adicionar Chave</a></li>
				<li><a href="/administrador/adicionarProfessor">Adicionar Professor</a></li>
				<li><a href="/administrador/laboratorios">Laboratórios</a></li>
				<li><a href="/administrador/chaves">Chaves</a></li>
				<li><a href="/administrador/professores">Professores</a></li>
			</ul>
		</div>
	</nav>
	
	<nav th:fragment="menuProf"> <!--Definindo esse bloco de códigos como fragmentos para que eu posso reutilizá-lo sem precisar reescreve-lo novamente-->
		<div class="nav-wrapper container">
			<a href="/" class="brand-logo">KeySync PRO</a>
			<ul id="nav-mobile" class="right hide-on-med-and-down">
				<li><a href="">Laboratórios</a></li>
				<li><a href="">Chaves</a></li>
				<li><a href="">Agendamento</a></li>
			</ul>
		</div>
	</nav>		

</body>

</html>