<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
</head>

<body>

	<nav th:fragment="menu"> <!--Definindo esse bloco de códigos como fragmentos para que eu posso reutilizá-lo sem precisar reescreve-lo novamente-->
		<div>
			<a href="/" class="brand-logo">KeySync PRO</a>
			<ul id="nav-mobile" class="right hide-on-med-and-down">
				<li><a href="">Adicionar Laboratório</a></li>
				<li><a href="">Adicionar Chave</a></li>
				<li><a href="">Adicionar Professor</a></li>
				<li><a href="">Laboratórios</a></li>
				<li><a href="">Chaves</a></li>
				<li><a href="">Professores</a></li>
			</ul>
		</div>
	</nav>

</body>

</html>